/*
 * This file can be used to apply a style to all web pages you view
 * Rules without !important are overruled by author rules if the
 * author sets any.  Rules with !important overrule author rules.
 */

/* You can find the latest version of this ad blocking css at:
 * http://www.floppymoose.com
 * hides many ads by preventing display of images that are inside
 * links when the link HREF contans certain substrings.
 */

A:link[HREF*="addata"]  IMG,
A:link[HREF*="ad."]  IMG,
A:link[HREF*="ads."]  IMG,
A:link[HREF*="/ad"]  IMG,
A:link[HREF*="/A="]  IMG,
A:link[HREF*="/click"]  IMG,
A:link[HREF*="?click"]  IMG,
A:link[HREF*="?banner"]  IMG,
A:link[HREF*="=click"]  IMG,
A:link[HREF*="clickurl="]  IMG,
A:link[HREF*=".atwola."]  IMG,
A:link[HREF*="spinbox."]  IMG,
A:link[HREF*="transfer.go"]  IMG,
A:link[HREF*="adfarm"]  IMG,
A:link[HREF*="adSpace"]  IMG,
A:link[HREF*="adserve"]  IMG,
A:link[HREF*=".banner"]  IMG,
A:link[HREF*="bluestreak"]  IMG,
A:link[HREF*="doubleclick"]  IMG,
A:link[HREF*="/rd."]  IMG,
A:link[HREF*="/0AD"]  IMG,
A:link[HREF*=".falkag."]  IMG,
A:link[HREF*="trackoffer."]  IMG,
A:link[HREF*="casalemedia."]  IMG,
A:link[HREF*="valueclick."]  IMG,
A:link[HREF*="betterbasketball."]  IMG,
A:link[HREF*="sponsors.phtml"]  IMG,
A:link[HREF*="realgmtix.phtml"]  IMG,
A:link[HREF*="BurstingPipe"]  IMG,
A:link[HREF*="ebayobjects"]  IMG,
A:link[HREF*="tracksponsor."]  IMG { display: none ! important }

/* disable ad iframes */
IFRAME[SRC*="addata"],
IFRAME[SRC*="ad."],
IFRAME[SRC*="ads."],
IFRAME[SRC*="/ad"],
IFRAME[SRC*="/A="],
IFRAME[SRC*="/click"],
IFRAME[SRC*="?click"],
IFRAME[SRC*="?banner"],
IFRAME[SRC*="=click"],
IFRAME[SRC*="clickurl="],
IFRAME[SRC*=".atwola."],
IFRAME[SRC*="spinbox."],
IFRAME[SRC*="transfer.go"],
IFRAME[SRC*="adfarm"],
IFRAME[SRC*="adSpace"],
IFRAME[SRC*="adserve"],
IFRAME[SRC*="adjuggler"],
IFRAME[SRC*=".banner"],
IFRAME[SRC*="bluestreak"],
IFRAME[SRC*="doubleclick"],
IFRAME[SRC*="/rd."],
IFRAME[SRC*="/0AD"],
IFRAME[SRC*=".falkag."],
IFRAME[SRC*="trackoffer."],
IFRAME[SRC*="connextra."],
IFRAME[ID*="merchandisingMERC"],
IFRAME[SRC*="tracksponsor."]  { display: none ! important }


/* miscellaneous different blocking rules to block some stuff that gets through */

A:link[onmouseover*="AdSolution"] IMG,
*[class=sponsors],
*[class=sp_links],
*[class=advertising],
*[ID=sponsors],
*[ID=ad],
*[ID=inlinead],
*[ID=ad_creative],
*[ID=contextualLinks],
IMG[SRC*=".msads."] { display: none ! important }


/* turning some false positives back off */

A:link[HREF*="/add"]  IMG,
A:link[HREF*="/adsl"] IMG,
A:link[HREF*="thread."] IMG,
A:link[HREF*="download."] IMG,
A:link[HREF*="downloads."] IMG,
A:link[HREF*="netflix.com/AddToQueue"] IMG,
A:link[HREF*="load."],
A:link[HREF*="loads."],
IFRAME[SRC*="load."],
IFRAME[SRC*="loads."],
A:link[HREF*="click.mp3"] IMG { display: inline ! important }

/* Prevent flash animations from playing until you click on them. */
object[classid$=":D27CDB6E-AE6D-11cf-96B8-444553540000"],
object[codebase*="swflash.cab"],
object[type="application/x-shockwave-flash"],
embed[type="application/x-shockwave-flash"],
embed[src$=".swf"]
{ -moz-binding: url("http://www.floppymoose.com/clickToView.xml#ctv"); }

/*
 * For more examples see http://www.mozilla.org/unix/customizing.html
 */

/* EAF additional */

[id*='google_ads'],
[class*='-ad'],
[class*='ad-'],
[class*='_ad'],
[class*='ad_'] { display: none ! important }
